<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <title>Privacy Policy Analyser</title>
</head>

<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img src="./static/cdac_logo.png" alt="" height="50vh" >
      <a class="navbar-brand" href="#">Policy Analyser</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'download' %}" >Download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'summary' %}" >Download Summary</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        

      </div>
    </div>
  </nav>   
</div>
<!-- <img src="{{appImage}}"  class="img-fluid rounded-start" alt="..." id="icon">
<h5 class="card-title">{{appName}}</h5> -->
<div class="card mb-lg-0" style="margin-left: 15vw; max-width: 540px;" >
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{appImage}}"  class="img-fluid rounded-start" alt="" id="icon">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">APP Name: {{appName}}</h5>
        <p class="card-text" style="color:#17924e;">Developer:<b>{{devName}}</b></p>
        <p class="card-title" style=" display: block; font-size:1rem;color:#b11217;">{{text}}:<b>{{downloads}}</b></p>
        <p class="card-text" style="color:#2a0b89;">Email: <b>{{email}}</b></p>
        <p class="card-text" style="color:#89420b;">Category: <b>{{category}}</b></p>
        <p class="card-text" style="color:#4f5f06;">Policy URL: <b>{{policyURL}}</b></p>
        

         <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
  </div>
</div>
<!-- <img src={{appImage}} class="img-thumbnail" style="margin-top: 2vh; margin-left: 15vw; margin-right: 15vw; text-decoration-style: solid; border-radius: 10px; height: 100px; width: 100px;" alt=""> --> 
<h3 style="margin-top: 2vh; margin-left: 15vw; margin-right: 15vw; text-decoration-style: solid;">{{Variable3}}</h3>
<p style="margin-top: 1vh; margin-left: 15vw; margin-right: 15vw; text-decoration-style: solid;">{{address}}</p>
<h3 style="margin-top: 2vh; margin-left: 15vw; margin-right: 15vw; text-decoration-style: solid;">Developer ID</h3>
<p style="margin-top: 1vh; margin-left: 15vw; margin-right: 15vw; text-decoration-style: solid;">{{appleDevId}}</p>
<h3 style="margin-top: 2vh; margin-left: 15vw; margin-right: 15vw; text-decoration-style: solid;">Collects Data</h3>
<p style="margin-top: 1vh; margin-left: 15vw; margin-right: 15vw; text-decoration-style: solid;">{{myList}}</p>
<h3 style="margin-top: 2vh; margin-left: 15vw; margin-right: 15vw; text-decoration-style: solid;">Summarized Privacy Policy for {{appName}}</h3>
<p id="paragraph"style="margin-top: 2vh; margin-left: 15vw; margin-right: 15vw; text-decoration-style: solid;" value="">{{Variable}}</p>
<h3 style="margin-top: 2vh; margin-left: 15vw; margin-right: 15vw; text-decoration-style: solid;">Other applications of {{devName}} </h3>
<p style="margin-top: 1vh; margin-left: 15vw; margin-right: 15vw; text-decoration-style: solid; color: blue;">{{devAppList}}</p>
<h3 style="margin-top: 2vh; margin-left: 15vw; margin-right: 15vw; text-decoration-style: solid;">Other applications of the Same Category</h3>
<p style="margin-top: 1vh; margin-left: 15vw; margin-right: 15vw; text-decoration-style: solid; color: blue;">{{genreList}}</p>
<script type="text/javascript">
let textToCompare = "Information";
let userInfo= [ "IP Address","email address","First name","last name","Phone number","Address","Usage Data","Caller ID","messaging","dialer","device ID","unique identifier","device manufacturer","device","hardware settings","SIM card","Bank card","Permanent Account Number","Aadhaar card","family details","Mobile","Facebook","AdMob","Google Play Services","Storage","Location","SD CARD",];
let paragraph  =  document.getElementById("paragraph");
let paragraphTxt=paragraph.textContent;

  textToCompare = textToCompare.replace(/[.*+?^${}()|[\]\\]/g ,"\\$&");
  let pattern = new RegExp(`${textToCompare}`,"gi");
  paragraphTxt= paragraph.textContent.replace(pattern,match =>`<mark id="info"><b>${match}</b></mark>`);
  
  for (i=0;i<=userInfo.length;i++){
    userInfo[i]= userInfo[i].replace(/[.*+?^${}()|[\]\\]/g ,"\\$&");
    let pattern = new RegExp(`${userInfo[i]}`,"gi");
    // let color=["info","usrdata","usrdata","usrdata","usrdata","usrdata","usrdata","usrdata"];
    paragraphTxt= paragraphTxt.replace(pattern,match =>`<mark id="usrdata"><b>${match}</b></mark>`);
    paragraph.innerHTML=paragraphTxt;
  }
  paragraph.innerHTML=paragraphTxt;
  
  
  
// }

</script>
<style>
 
  #info
   {
    color: #b236d7;
    background-color: transparent;
   
  } 
  #usrdata{
    color:#ff0000;
    background-color: transparent;
  }
</style>
</body>

</html>