<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./static/indexstyle.css"> -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static './indexstyle.css' %}">
    <title>Privacy Policy Analyser</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="./static/cdac_logo.png" alt="cdac logo">
                <h1>Policy <span>Analyser</span></h1>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Recent scans</a></li>
                    <li><a href="#" style=" pointer-events: none; color:gray">Download Privacy</a></li>
                    <li><a href="#" style=" pointer-events: none; color:gray">Download Summary</a></li>
                </ul>

            </div>
        </nav>
    </header>
    <div class="container">
        <form action="{% url 'home' %}" method="post" role="search"class="searchbar">{% csrf_token %}
            <input type="search" name="pkgName" placeholder="Enter package name or app link" aria-label="Search">
            <button type="submit"><img src="./static/search.png" alt="analyse"><span>Analyse</span></button>
        </form>
    </div>

    </div>
</body>

</html>